# Copyright (c) Philip Heiduck
# Founder and Owner of airconnect_installer, airconnect_uninstaller, docker-backup{.service,.timer} and wake-up-device
# (c) Philippe, philippe_44@outlook.com
# Founder and Owner of AirConnect
* @pheiduck
