[Unit]
Description=Docker Backup Service

[Service]
USER=username
Environment=HOME=/home/username
WorkingDirectory=/home/username
ExecStart=zsh docker-backup

[Install]
WantedBy=multi-user.target
